.changeRoleUl {
  position: absolute;
  top: 43vh;
  left: 43vw;
  width: 320px;
  height: 80px;
  display: flex;
  flex-direction: row;
  border: 2px solid black;
}
.changeRoleUl li {
  width: 80px;
  height: 80px;
  background-size: cover;
  
}
