* {
  overflow: hidden;
}
.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.App :nth-child(1) {
  align-self: flex-end;
}
.App :nth-child(3) {
  align-self: flex-start;
}

.chessBoard {
  width: 600px;
  height: 600px;
}
.chessBoard ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.chessBoard ul li {
  list-style-type: none;
  border: 1px solid black;
  width: 75px;
  height: 75px;
}
/* won page  */
.wonBGI {
  background-image: url(../image/wonImage.jpg);
  background-size: cover;
}
/* change role style  */
.bgcBlack {
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.677);
}
.ZIndex {
  z-index: -10;
}

@media only screen and (max-width: 925px) {
  .chessBoard {
    width: 500px;
    height: 500px;
  }
  .chessBoard ul li {
    width: 62.5px;
    height: 62.5px;
  }
}
@media only screen and (max-width: 825px) {
  .chessBoard {
    width: 400px;
    height: 400px;
  }
  .chessBoard ul li {
    width: 50px;
    height: 50px;
  }
}
@media only screen and (max-width: 725px) {
  .chessBoard {
    width: 300px;
    height: 300px;
  }

  .chessBoard ul li {
    width: 37.5px;
    height: 37.5px;
  }
}
@media only screen and (max-width: 625px) {
  .chessBoard {
    width: 200px;
    height: 200px;
  }

  .chessBoard ul li {
    width: 25px;
    height: 25px;
  }
}
@media only screen and (max-width: 525px) {
  .chessBoard {
    width: 100px;
    height: 100px;
  }

  .chessBoard ul li {
    width: 12.5px;
    height:12.5px;
  }
}
