* {
  overflow: hidden;
}
.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chessBoard {
  width: 800px;
  height: 800px;
}
.chessBoard ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.chessBoard ul li {
  list-style-type: none;
  border: 2px solid black;
  width: 100px;
  height: 100px;
}
