.SelectMood {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url(../image/selectMoodIMG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.container {
  width: 40vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  border-radius: 20px;
  border: 2vh solid rgb(20, 20, 20);
  background-color: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.792), rgba(0, 0, 0, 0.815)),
    url(../image/chessBoardImg.png);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.form {
  display: flex;
  flex-direction: column;
}
.labelForm {
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  background-color: gray;
  background-color: #a49d8b;

  padding: 10px;
  border-radius: 5px 5px 0px 0px;
  width: 300px;
}
.selectMoodOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  background-color: #a49d8b;
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
  width: 300px;
}
.selectMoodOptionsOption {
  background-color: #a49d8b;
  padding: 10px;
}
.playBtn {
  width: 300px;
  margin: 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00850e;
  padding: 8px;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}
@keyframes playGame {
  0% {
    background-size: 39vw 77vh;
  }
  100% {
    background-size: 79vw 117vh;
    opacity: 0;
    width: 80vw;
    height: 120vh;
  }
}
.playGame {
  animation: playGame 1.65s ease-in-out;
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 1024px) {
  .container {
    height: 70vh;
  }
  .labelForm,
  .selectMoodOptions,
  .selectMoodOptions option,
  .playBtn {
    width: 200px;
  }
}
@media only screen and (max-width: 900px) {
  .container {
    height: 60vh;
  }
  .form,
  .selectMoodOptions option,
  .labelForm,
  .selectMoodOptions,
  .playBtn {
    padding: 5px;
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    height: 50vh;
  }
  .form,
  .selectMoodOptions option,
  .labelForm,
  .selectMoodOptions,
  .playBtn {
    padding: 4px;
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    height: 40vh;
  }
  .form,
  .selectMoodOptions option,
  .labelForm,
  .playBtn {
    width: 120px;
    padding: 3px;
    font-size: 0.6rem;
  }
  .labelForm {
    width: 120px;

    border-radius: 0px 8px 0px 0px;
  }
  .selectMoodOptions {
    width: 120px;
    border-radius: 0px 0px 5px 5px;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    width: 58vw;
    height: 38vh;
  }
  .form,
  .selectMoodOptions option,
  .selectMoodOptions,
  .playBtn {
    width: 150px;
    padding: 3px;
    font-size: 0.5rem;
  }
  .labelForm {
    width: 150px;
    padding: 3px;
    font-size: 0.5rem;
    border-radius: 0px 8px 0px 0px;
  }
}
@media only screen and (max-width: 320px) {
  .container {
    height: 45vh;
    width: 58vw;

  }
  .form,
  .selectMoodOptions option,
  .labelForm,
  .selectMoodOptions,
  .playBtn {
    width: 120px;
    padding: 3px;
    font-size: 0.5rem;
  }
}
